body{ background-image: url(mcds.jpg);

} 
h1 { color : black; 
     font-size : 300%;
     font-type : bolded;
     font-family: Arial;
     text-align : center;
     
}

p { color : black;
    font-type: bolded;
    font-size : 200%;
    font-family: Arial;
    
}
ul { color : black;
     font-size : 150%;
     font-family : Arial;
     width : 40%;
     margin : auto;
}

img { border-radius : 8px;
      #horizontal-display : inline-block;
}

