body{ background-color: Aqua;

} 
h1 { color : black; 
     font-size : 30;
     font-type : bolded
}

h2 { color : black; 
      font-size : 50;
}
p { color : black;
    font-size : 30;
    
}
ul { color : black;
     font-size : 30;
     font-family : Arial;
     
}

img { border-radius: 8px;
}

